body {
  background-image: url("../images/line_paper.jpg");
}

#app {
  width: 60%;
  margin: 0 auto;
  font-family: 'Reenie Beanie';
  font-size: 3em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-family: 'Reenie Beanie';
  font-size: 7em;
  text-align: center;
}

li {
  margin: 10px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

li span {
  padding: 8px;
}

li button {
  cursor: pointer;
  text-decoration: none;
}


span.is-completed {
  text-decoration: line-through;
}
button.is-completed {
  text-decoration: line-through;
}

input[type="text"] {
  padding: 10px;
  width: 50%;
  background: none;
  border: none;
  border-bottom: dotted;
}

input[type="submit"]{
  font-family: 'Reenie Beanie';
  font-size: 0.75em;
  background: none;
  border: none;
  border-bottom: solid 1px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: 'Reenie Beanie';
  font-size: 1em;
  border-bottom: solid 1px;
}

input[type="submit"] {
  cursor: pointer;
}
